.snivel {
  width: 576px;
  position: absolute;
  left: 350px;
  top: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 400ms ease-in 500ms;
}

.active {
  .snivel {
    opacity: 1;
  }
}

.inactive {
  .snivel {
    opacity: 0;
    transition: opacity 0s 0s;
  }
}

.l {
  top: -108px;
  left: -648px;
  top: -15vh;
  left: -90vh;
  position: absolute;
  width: 936px;
  height: 936px;
  width: 130vh;
  height: 130vh;
  border-radius: 50%;
  background: #a400ff;
  background: linear-gradient(to right, #a400ff 10%, rgba(164, 0, 255, 0) 42%);
  animation: spin 3.4s infinite linear;
  transform: translateZ(0);
}

.l:before {
  width: 50%;
  height: 50%;
  background: #a400ff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.l:after {
  background: #e2e2e2;
  width: 99.4%;
  height: 99.4%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes counter-spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.l2 {
  top: -111.6px;
  width: 957.59px;
  height: 957.59px;
  top: -15.5vh;
  width: 133vh;
  height: 133vh;
  animation: counter-spin 2.4s infinite linear;
  background: linear-gradient(to right, #790eff 10%, rgba(121, 14, 255, 0) 42%);
  opacity: .8
}

.l2:after {
  width: 99.8%;
  height: 99.9%;
}

.l3 {
  width: 964.8px;
  height: 964.8px;
  width: 134vh;
  height: 134vh;
  animation: counter-spin 5.4s infinite linear;
  background: linear-gradient(to right, rgba(207, 0, 255, 0.8) 10%, rgba(207, 0, 255, 0) 52%);
  opacity: 0.7
}

.l4 {
  width: 950.39px;
  height: 950.39px;
  width: 132vh;
  height: 132vh;
  animation: counter-spin 7.4s infinite linear;
  background: linear-gradient(to right, #ff00ac 10%, rgba(255, 0, 172, 0) 42%);
  opacity: .7
}

.l4:after {
  width: 100.1%;
  height: 100.1%;
}

.l5 {
  top: -102.96px;
  width: 950.39px;
  height: 950.39px;
  top: -14.3vh;
  width: 132vh;
  height: 132vh;
  animation: counter-spin 3.4s infinite linear;
  background: linear-gradient(to right, #ff00ac 10%, rgba(255, 0, 172, 0) 42%);
  opacity: .09
}

.l5:after {
  width: 94%;
  height: 94%;
}

.l6 {
  width: 936px;
  height: 936px;
  left: -30vh;
  width: 130vh;
  height: 130vh;
  animation: spin 1.4s infinite linear;
  opacity: .9
}

.l6:after {
  width: 99.9%;
  height: 99.9%;
}

.l7 {
  width: 957.59px;
  height: 957.59px;
  width: 133vh;
  height: 133vh;
  animation: spin 1.4s infinite linear;
  background: linear-gradient(to right, #cf00ff 10%, rgba(255, 0, 172, 0) 62%);
}

.l7:after {
  width: 99.7%;
  height: 99.7%;
}

.l8 {
  width: 956.16px;
  height: 956.16px;
  width: 132.8vh;
  height: 132.8vh;
  animation: spin 1.9s infinite linear;
  background: linear-gradient(to right, rgba(255, 0, 189, 0.8) 0%, rgba(255, 0, 172, 0) 33%);
  opacity: .09;
}

.l8:after {
  width: 96.6%;
  height: 96.6%;
}

.l9 {
  width: 928.8px;
  height: 928.8px;
  width: 129vh;
  height: 129vh;
  animation: counter-spin 1s infinite linear;
  background: linear-gradient(to right, rgba(255, 0, 189, 0) 0%, rgba(255, 0, 172, 0.8) 63%);

}

.l9:after {
  width: 99.3%;
  height: 99.3%;
}
