@import "../../node_modules/normalize.css/normalize";
@import "./anim";
@import "./l";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 1px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.screen {
  position: relative;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: #e2e2e2;

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url("../images/1-bg.jpg") center center no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity 400ms ease-in-out;

    &.active {
      opacity: 1;
    }
  }
}

.frame {
  transform: translateZ(0);
  height: 100%;
  min-height: 100vh;
  width: 100%;
  top: 100%;
  position: absolute;
  transition: top 400ms ease-in;

  &__title {
    top: 50px;
    left: 50px;
    opacity: 1;
    color: white;
    position: absolute;
    transition: all 200ms ease-in-out;
  }

  &.next {
    .frame__title {
      top: -120px;
      opacity: 0.3;
    }
  }

  &.active {
    top: 0;
  }

  &.inactive {
    top: -100%;
    transition-timing-function: ease-out;
  }
}

.collection {
  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url("../images/2-bg.jpg") center center no-repeat;
    background-size: cover;
    animation: slide-out-left 0.5s cubic-bezier(0.895, 0.030, 0.685, 0.220) 5s both;
  }

  &__container {
    position: absolute;
    width: 100%;
    height: 370px;
    top: 15%;
    overflow: hidden;
  }

  &__move {
    transform: translateZ(0);
    left: 0;
    transition: left 400ms ease;
    position: absolute;
    width: 2100px;
    height: 370px;
    padding-bottom: 20px;
    display: flex;
    align-items: flex-end;
    animation: slide-in-right 0.5s cubic-bezier(0.895, 0.030, 0.685, 0.220) 5s both;
  }

  &__item {
    border-radius: 4px;
    transform: translateZ(0);
    transition: all 400ms ease;
    background: gray;
    width: 480px;
    min-width: 480px;
    height: 270px;
    // position: absolute;
    margin-left: 20px;
    // bottom: 0;
    background: 50% 50% no-repeat;
    background-size: cover;

    &.active {
      box-shadow: 0px 0px 12px 5px rgba(78, 29, 105, 1);
      min-width: 552px;
      width: 552px;
      height: 310px;
      // transform: scale(1.15);
      // bottom: 20px;
    }

    @for $i from 1 through 5 {
      &#{$i} {
        background-image: url("../images/#{$i}.jpg");
        // left: 500px * ($i - 1);
      }
    }
  }
}

.serial-card {
  &__wrapper {
    color: white;
    position: absolute;
    width: 600px;
    height: 400px;
    top: 35%;
    left: 50px;
  }
}

.season {
  &__container {
    position: absolute;
    width: 100%;
    height: 370px;
    top: 15%;
    overflow: hidden;
  }

  &__move {
    transform: translateZ(0);
    left: 0;
    transition: left 400ms ease;
    position: absolute;
    width: 2100px;
    height: 370px;
    padding-bottom: 20px;
    display: flex;
    align-items: flex-end;
  }

  &__item {
    transform: translateZ(0);
    transition: all 400ms ease;
    background: gray;
    width: 480px;
    min-width: 480px;
    height: 270px;
    // position: absolute;
    margin-left: 20px;
    // bottom: 0;
    background: 50% 50% no-repeat;
    background-size: cover;

    &.active {
      box-shadow: 0px 0px 12px 5px rgba(78, 29, 105, 1);
      min-width: 552px;
      width: 552px;
      height: 310px;
      // transform: scale(1.15);
      // bottom: 20px;
    }

    @for $i from 1 through 5 {
      &#{$i} {
        background-image: url("../images/#{$i}.jpg");
        // left: 500px * ($i - 1);
      }
    }
  }
}

.search {
  &__input {
    position: absolute;
    width: 80%;
    height: 50px;
    left: 10%;
    top: 40px;
    border-bottom: 2px solid #eee;

    > input {
      background: none;
      outline: none;
      border: none;
      display: block;
      width: 100%;
      height: 50px;
      padding: 15px;
      text-transform: uppercase;
    }
  }

  &__border {
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%) translateZ(0);
    height: 2px;
    background: #a31bee;
    width: 0;
    transition: width 400ms 450ms ease-in-out;
  }

  &.active {
    .search__border {
      width: 100%;
    }
  }
}

.menu {
  position: absolute;
  top: 40px;
  left: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  &__item {
    color: white;
    font-size: 25px;
    position: relative;
    transform: translateZ(0);
    width: 115px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    transition: all 400ms ease-in-out;

    &.active {
      transform: scale(1.2)
    }
  }

  &__highlight {
    content: '';
    width: 115px;
    position: absolute;
    height: 2px;
    background: #a31bee;
    bottom: -10px;
    left: 0;
    transform: translateZ(0);
    transition: left 400ms ease-in-out;
  }

  &.active {
    .menu__highlight {
      left: 115px;
    }
  }
}
