/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0; } }

@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0; } }

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

.snivel {
  width: 576px;
  position: absolute;
  left: 350px;
  top: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in 500ms;
  transition: opacity 400ms ease-in 500ms; }

.active .snivel {
  opacity: 1; }

.inactive .snivel {
  opacity: 0;
  -webkit-transition: opacity 0s 0s;
  transition: opacity 0s 0s; }

.l {
  top: -108px;
  left: -648px;
  top: -15vh;
  left: -90vh;
  position: absolute;
  width: 936px;
  height: 936px;
  width: 130vh;
  height: 130vh;
  border-radius: 50%;
  background: #a400ff;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #a400ff), color-stop(42%, rgba(164, 0, 255, 0)));
  background: linear-gradient(to right, #a400ff 10%, rgba(164, 0, 255, 0) 42%);
  -webkit-animation: spin 3.4s infinite linear;
          animation: spin 3.4s infinite linear;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }

.l:before {
  width: 50%;
  height: 50%;
  background: #a400ff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: ''; }

.l:after {
  background: #e2e2e2;
  width: 99.4%;
  height: 99.4%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes counter-spin {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes counter-spin {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

.l2 {
  top: -111.6px;
  width: 957.59px;
  height: 957.59px;
  top: -15.5vh;
  width: 133vh;
  height: 133vh;
  -webkit-animation: counter-spin 2.4s infinite linear;
          animation: counter-spin 2.4s infinite linear;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #790eff), color-stop(42%, rgba(121, 14, 255, 0)));
  background: linear-gradient(to right, #790eff 10%, rgba(121, 14, 255, 0) 42%);
  opacity: .8; }

.l2:after {
  width: 99.8%;
  height: 99.9%; }

.l3 {
  width: 964.8px;
  height: 964.8px;
  width: 134vh;
  height: 134vh;
  -webkit-animation: counter-spin 5.4s infinite linear;
          animation: counter-spin 5.4s infinite linear;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, rgba(207, 0, 255, 0.8)), color-stop(52%, rgba(207, 0, 255, 0)));
  background: linear-gradient(to right, rgba(207, 0, 255, 0.8) 10%, rgba(207, 0, 255, 0) 52%);
  opacity: 0.7; }

.l4 {
  width: 950.39px;
  height: 950.39px;
  width: 132vh;
  height: 132vh;
  -webkit-animation: counter-spin 7.4s infinite linear;
          animation: counter-spin 7.4s infinite linear;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #ff00ac), color-stop(42%, rgba(255, 0, 172, 0)));
  background: linear-gradient(to right, #ff00ac 10%, rgba(255, 0, 172, 0) 42%);
  opacity: .7; }

.l4:after {
  width: 100.1%;
  height: 100.1%; }

.l5 {
  top: -102.96px;
  width: 950.39px;
  height: 950.39px;
  top: -14.3vh;
  width: 132vh;
  height: 132vh;
  -webkit-animation: counter-spin 3.4s infinite linear;
          animation: counter-spin 3.4s infinite linear;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #ff00ac), color-stop(42%, rgba(255, 0, 172, 0)));
  background: linear-gradient(to right, #ff00ac 10%, rgba(255, 0, 172, 0) 42%);
  opacity: .09; }

.l5:after {
  width: 94%;
  height: 94%; }

.l6 {
  width: 936px;
  height: 936px;
  left: -30vh;
  width: 130vh;
  height: 130vh;
  -webkit-animation: spin 1.4s infinite linear;
          animation: spin 1.4s infinite linear;
  opacity: .9; }

.l6:after {
  width: 99.9%;
  height: 99.9%; }

.l7 {
  width: 957.59px;
  height: 957.59px;
  width: 133vh;
  height: 133vh;
  -webkit-animation: spin 1.4s infinite linear;
          animation: spin 1.4s infinite linear;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #cf00ff), color-stop(62%, rgba(255, 0, 172, 0)));
  background: linear-gradient(to right, #cf00ff 10%, rgba(255, 0, 172, 0) 62%); }

.l7:after {
  width: 99.7%;
  height: 99.7%; }

.l8 {
  width: 956.16px;
  height: 956.16px;
  width: 132.8vh;
  height: 132.8vh;
  -webkit-animation: spin 1.9s infinite linear;
          animation: spin 1.9s infinite linear;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 189, 0.8)), color-stop(33%, rgba(255, 0, 172, 0)));
  background: linear-gradient(to right, rgba(255, 0, 189, 0.8) 0%, rgba(255, 0, 172, 0) 33%);
  opacity: .09; }

.l8:after {
  width: 96.6%;
  height: 96.6%; }

.l9 {
  width: 928.8px;
  height: 928.8px;
  width: 129vh;
  height: 129vh;
  -webkit-animation: counter-spin 1s infinite linear;
          animation: counter-spin 1s infinite linear;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 189, 0)), color-stop(63%, rgba(255, 0, 172, 0.8)));
  background: linear-gradient(to right, rgba(255, 0, 189, 0) 0%, rgba(255, 0, 172, 0.8) 63%); }

.l9:after {
  width: 99.3%;
  height: 99.3%; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  height: 100%;
  min-height: 1px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.screen {
  position: relative;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: #e2e2e2; }
  .screen__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url("../images/1-bg.jpg") center center no-repeat;
    background-size: cover;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out; }
    .screen__bg.active {
      opacity: 1; }

.frame {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  height: 100%;
  min-height: 100vh;
  width: 100%;
  top: 100%;
  position: absolute;
  -webkit-transition: top 400ms ease-in;
  transition: top 400ms ease-in; }
  .frame__title {
    top: 50px;
    left: 50px;
    opacity: 1;
    color: white;
    position: absolute;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out; }
  .frame.next .frame__title {
    top: -120px;
    opacity: 0.3; }
  .frame.active {
    top: 0; }
  .frame.inactive {
    top: -100%;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out; }

.collection__bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url("../images/2-bg.jpg") center center no-repeat;
  background-size: cover;
  -webkit-animation: slide-out-left 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) 5s both;
          animation: slide-out-left 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) 5s both; }

.collection__container {
  position: absolute;
  width: 100%;
  height: 370px;
  top: 15%;
  overflow: hidden; }

.collection__move {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  left: 0;
  -webkit-transition: left 400ms ease;
  transition: left 400ms ease;
  position: absolute;
  width: 2100px;
  height: 370px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) 5s both;
          animation: slide-in-right 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) 5s both; }

.collection__item {
  border-radius: 4px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  background: gray;
  width: 480px;
  min-width: 480px;
  height: 270px;
  margin-left: 20px;
  background: 50% 50% no-repeat;
  background-size: cover; }
  .collection__item.active {
    -webkit-box-shadow: 0px 0px 12px 5px #4e1d69;
            box-shadow: 0px 0px 12px 5px #4e1d69;
    min-width: 552px;
    width: 552px;
    height: 310px; }
  .collection__item1 {
    background-image: url("../images/1.jpg"); }
  .collection__item2 {
    background-image: url("../images/2.jpg"); }
  .collection__item3 {
    background-image: url("../images/3.jpg"); }
  .collection__item4 {
    background-image: url("../images/4.jpg"); }
  .collection__item5 {
    background-image: url("../images/5.jpg"); }

.serial-card__wrapper {
  color: white;
  position: absolute;
  width: 600px;
  height: 400px;
  top: 35%;
  left: 50px; }

.season__container {
  position: absolute;
  width: 100%;
  height: 370px;
  top: 15%;
  overflow: hidden; }

.season__move {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  left: 0;
  -webkit-transition: left 400ms ease;
  transition: left 400ms ease;
  position: absolute;
  width: 2100px;
  height: 370px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.season__item {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  background: gray;
  width: 480px;
  min-width: 480px;
  height: 270px;
  margin-left: 20px;
  background: 50% 50% no-repeat;
  background-size: cover; }
  .season__item.active {
    -webkit-box-shadow: 0px 0px 12px 5px #4e1d69;
            box-shadow: 0px 0px 12px 5px #4e1d69;
    min-width: 552px;
    width: 552px;
    height: 310px; }
  .season__item1 {
    background-image: url("../images/1.jpg"); }
  .season__item2 {
    background-image: url("../images/2.jpg"); }
  .season__item3 {
    background-image: url("../images/3.jpg"); }
  .season__item4 {
    background-image: url("../images/4.jpg"); }
  .season__item5 {
    background-image: url("../images/5.jpg"); }

.search__input {
  position: absolute;
  width: 80%;
  height: 50px;
  left: 10%;
  top: 40px;
  border-bottom: 2px solid #eee; }
  .search__input > input {
    background: none;
    outline: none;
    border: none;
    display: block;
    width: 100%;
    height: 50px;
    padding: 15px;
    text-transform: uppercase; }

.search__border {
  position: absolute;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translateX(-50%) translateZ(0);
          transform: translateX(-50%) translateZ(0);
  height: 2px;
  background: #a31bee;
  width: 0;
  -webkit-transition: width 400ms 450ms ease-in-out;
  transition: width 400ms 450ms ease-in-out; }

.search.active .search__border {
  width: 100%; }

.menu {
  position: absolute;
  top: 40px;
  left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .menu__item {
    color: white;
    font-size: 25px;
    position: relative;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    width: 115px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out; }
    .menu__item.active {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  .menu__highlight {
    content: '';
    width: 115px;
    position: absolute;
    height: 2px;
    background: #a31bee;
    bottom: -10px;
    left: 0;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition: left 400ms ease-in-out;
    transition: left 400ms ease-in-out; }
  .menu.active .menu__highlight {
    left: 115px; }
